{
  "parserOptions": { 
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "plugins": [],
  "env": {
    "es6": true,
    "node": true,
    "jest": true 
  },
  "rules": {
    "semi": 2,
    "complexity": [2, 8],
    "max-len": [2, 120],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "peerDependencies": true
      }
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2,
        "maxEOF": 1
      }
    ],
    "react/jsx-props-no-spreading":["off"],
    "implicit-arrow-linebreak":["off"],
    "operator-linebreak":["off"]
  },
  "globals": {
    "fetch": false,
    "Iterator": true,
    "Generator": true,
    "browser": true,
    "$": true,
    "$$": true
  }
}
